@font-face {
  font-family: 'SF Pro Rounded';
  src: url('./fonts/SF-Pro-Rounded-Heavy.otf') format('opentype');
  /* You can add additional font properties here if needed */
}


body {  
  /* font-family: 'SF Pro Rounded', sans-serif !important; */
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent body from scrolling */
  background-color: #171717 !important;
  /* background-color: #171717 !important; */
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.menu-bar {
  display: flex;
  align-items: center;
  background-color: #171717;
  /* background-color: black; */
  color: white;
  padding: 1em 0;

  /* -------------------------------------- */
  /* border-bottom: 5px solid #212121; */
}

.logo-container {
  margin-right: auto;
  padding-left: 20px;
}

.logo {
  height: 80px;
}

.menu-bar nav {
  flex-grow: 1;
}

.menu-bar nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}

.menu-bar nav ul li {
  margin: 0 10px;
}

.menu-bar nav ul li a {
  color: white;
  text-decoration: none;
  padding: 8px 16px;
}

.menu-bar nav ul li a:hover {
  background-color: #575757;
}

.content-area {
  display: flex;
  height: calc(100vh - 115px); /* Adjusted height to account for the top menu bar */


  /* border: 5px solid tomato; */
  /* border-radius: 25px; */
  /* margin-bottom: 70px !important; */
  /* border: 5px solid #171717;
  border: 5px solid red; */
}

.side-menu-bar {
  width: 200px;
  /* background-color:#171717; */
  background-color: black;
  color: white;
  padding: 20px;
  box-sizing: border-box;
  height: 100%;
  overflow-y: scroll; /* Allow scrolling */
  border-radius:0px 5px 0px 0px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.side-menu-bar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.side-menu-bar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.side-menu-bar nav ul {
  list-style-type: none;
  padding: 0;
}

.side-menu-bar nav ul li {
  padding: 8px 0;
}

.side-menu-bar nav ul li a {
  color: white;
  text-decoration: none;
}

.side-menu-bar nav ul li a:hover {
  background-color: #575757;
}

.main-content {
  /* text-align: center; */
  margin: 20px;
  flex-grow: 1;
  padding: 0;
  background-color: #171717;
  color: white;
  height: 100%;
  overflow-y: scroll; /* Allow scrolling */

  /* border: 5px solid #171717;
  border-radius: 25px;  */

}

/* Hide scrollbar for Chrome, Safari and Opera */
.main-content::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.main-content {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}



.homepage {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;

  background-color: white !important;  
  border-radius: 25px; 
  /* border: 5px solid red; */
  color: black;
  /* width: 90vw; */
  width: 100%;
  min-height: 80vh;
  
  font-family: 'SF Pro Rounded', sans-serif !important;
}
.item-box{  
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  background-color: #E7E9EB;
  width: 100%;
}

.item-box-2{  
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  background-color: white;
  width: 100%;
}
.item-box , .item-box-2 {
  padding: 100px;
}
.item-box img , .item-box-2 img {
  height: 200px;
}

/* Hero ------------ */
.hero-home{
  background-color: white;  
  min-height: 100vh;   
  font-family: 'SF Pro Rounded', sans-serif !important;
}
/* Logo box ----------------------------- */
.logobox  {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logobox img {
  margin-right: 10px; /* Adjust the spacing between the image and text as needed */
  z-index:9999
}

@media (prefers-reduced-motion: no-preference) {
  .Animate-logo {
      animation: App-logo-spin infinite 50s linear;
  }
}

@keyframes App-logo-spin {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}


/*---School-------------------------*/
@keyframes rotateShadow {
  0% {
    text-shadow: 50px 20px 90px #40D3F3, -30px 0px 80px #CA52B7;
  }
  25% {
    text-shadow: 30px 50px 90px #40D3F3, 0px -30px 80px #CA52B7;
  }
  50% {
    text-shadow: -50px 20px 90px #40D3F3, 30px 0px 80px #CA52B7;
  }
  75% {
    text-shadow: -30px -50px 90px #40D3F3, 0px 30px 80px #CA52B7;
  }
  100% {
    text-shadow: 50px 20px 90px #40D3F3, -30px 0px 80px #CA52B7;
  }
}

.school {
  position: relative;
  font-family: 'SF Pro Rounded', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 130px;
  line-height: 155px;
  color: #FFFFFF;
}

.school::before {
  content: "School";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #FFFFFF;
  text-shadow: 50px 20px 90px #40D3F3, -30px 0px 80px #CA52B7;
  animation: rotateShadow 50s infinite linear;
}

.testgallery{
  padding: 15px;
  
}
.testgallery h1{
  font-size: 50px;
  text-align: center;
}
.testgallery h2{
  font-size: 40px;
  text-align: center;
}
.testgallery p{
  width: 100%;
  border-bottom: 1px solid gray;
  overflow: auto;  
  margin: 10px;
  padding: 15px;

}

.testgallery .imgimg{
  /* background-color: blue; */
  width: 100%;
  min-height: 100px;
  margin: 50px 0px;
  padding: 15px 0px;
  overflow: auto;
  
}
.testgallery img{
  width: 400px;
  border-radius: 25px;
  float: left;
  margin: 5px;
}